.requestPage{
    h2{
        // text-align: left;
    }
    .btns{
        display: flex;
        gap: .5em;
        margin: .5em 0em;
    }
    .tabs{
            padding: .5em 1em;
            cursor: pointer;
    }
}